# Dependencies
node_modules/
package-lock.json

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Appium & Drivers
.appium/
npm-debug.log*

# Mobile App
app/*.apk
app/*.ipa

# Reports & Logs
reports/
execution.log
*.xlsx
failures/

# OS/IDE
.DS_Store
.idea/
.vscode/
*.swp

# Environment
.env
